main {
    gap: 2em;
    width: 20em;
    max-width: 95%;
    margin: auto;
}
main > * {
    width: 100%;
}

.title {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.password-auth__form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

.password-auth__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.password-auth__form-label {
    color: var(--subtext0);
}

.password-auth__form-field {
    width: 100%;
    background-color: var(--mantle);
    color: white;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    outline: 2px solid var(--subtext0);
    border: none;
    border-radius: 6px;
}

.password-auth__form-register {
    align-self: flex-end;
}

.error {
    background-color: var(--mantle);
    color: #ff6961;
    padding: 1em 0.5em;
    border-radius: 4px;
    font-size: 1.125rem;
    text-align: center;
}
.error.hidden {
    display: none;
}

input:focus-visible {
    outline-color: currentColor;
}

input:user-invalid:not(:focus-visible) {
    outline-color: #ff6961;
}

input:user-valid:not(:focus-visible) {
    outline-color: #a6e3a1;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base);
    color: var(--subtext0);
    font-weight: 500;
    text-align: center;
}
.or-line {
    flex-grow: 1;
    background-color: currentColor;
    height: 1px;
}
.or-text {
    padding-inline: 1em;
}

#or,
#passkey {
    display: none;
}
