package pages

templ Error(err string, redirect templ.SafeURL) {
	@Layout([]byte("Error | Authentication"), nil) {
		<main>
			if redirect != "" {
				<a href={ redirect }>&larr; Back</a>
			}
			<div class="error center">
				if err == "" {
					Unknown error
				} else {
					{ err }
				}
			</div>
		</main>
	}
}
