package pages

templ Index() {
	{{
var pageTitle = "Authentication service"
var pageStyles = []string{"index.css"}
var pageScript = ""
	}}
	@Layout(pageTitle, pageStyles, pageScript) {
		<main class="center">Authentication service</main>
	}
}
